a {
    cursor: pointer;
}

.countdown-menu p{
  padding-right: 5px;
}

.author {
  color: rgb(105, 105, 105);
}

.rundown label{
  color: rgb(105, 105, 105);
  font-weight: bold;
}

.comment {
  border-bottom: 1px solid #AAA;
  margin-bottom: 5px;
}

.brand-image{
  height: 40px;
  width: 60px;
    float:left;
}

.uparrow{
	background-image: url('/images/uparrow.png');
	background-position: left;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	cursor: pointer;
	padding-left: 20px;
	font-size: 20px;
}

.by-line{
	font-size: x-small;
	color: rgb(105, 105, 105);
	font-weight: bold;
}

.unavailable {
    color: rgb(105, 105, 105);
}

.timer {
    color: #AAA;
    font-size: 1.8em;
    font-weight: bold;
}

.timer li {
    padding-right: 50%;
}

.low {
    color: red;
    color: rgba(255, 0, 0, 0.6);
}

.hero-unit {
    background-image: url(../images/coffee_cup.png);
    background-repeat: no-repeat;
    background-position: right;
}

.meeting-header {
    font-weight: bold;
    color: rgb(105, 105, 105);
    font-variant: small-caps;
    font-size: 1.3em;
}
