.post {
  margin-bottom: 1em;
}

a {
    cursor: pointer;
}

.countdown-menu p{
  padding-right: 5px;
}

.author {
  color: rgb(105, 105, 105);
  display:inline;
  font-size: 1.1em;
}

.rundown label{
  color: rgb(105, 105, 105);
  font-weight: bold;
}

.brand-image{
  height: 40px;
  width: 60px;
    float:left;
}

.pure-form input[type=text], .pure-form input[type=password], .pure-form input[type=email], .pure-form input[type=url], .pure-form input[type=date], .pure-form input[type=month], .pure-form input[type=time], .pure-form input[type=datetime], .pure-form input[type=datetime-local], .pure-form input[type=week], .pure-form input[type=number], .pure-form input[type=search], .pure-form input[type=tel], .pure-form input[type=color], .pure-form select, .pure-form textarea {
    margin-bottom: 1em;
}

form + form {
    margin-top: 1em;
}

input[name="meeting-name"] {
    width: 90%;
}

.topic {
    margin-top: .75em;
    padding-bottom: 1em;
    border-bottom: 1px solid gray;
    font-size: 1.1em;
}

.topic:last-child {
    border-bottom: none;
}

.vote {
    display: inline;
}

.noVotesRemain {
    color: red;
}

.hidden {
    visibility: hidden;
}

.uparrow{
	background-image: url('/images/arrow.png');
	background-position: right;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	cursor: pointer;
	padding-right: 20px;
	font-size: 20px;
}

.by-line, footer{
	font-size: x-small;
	color: rgb(105, 105, 105);
	font-weight: bold;
}

.meeting-list .unavailable {
    color: rgb(105, 105, 105);
}

.timer span{
    color: #AAA;
    font-size: 1.5em;
    font-weight: bold;
}

.timer li {
    padding-right: 50%;
}

.low span {
    color: red;
    color: rgba(255, 0, 0, 0.6);
}

.hero-unit {
    background-color: #0E6262;
    color: white;
    padding: .25em .8em;
}

.meeting-header {
    font-weight: bold;
    color: rgb(105, 105, 105);
    font-variant: small-caps;
    font-size: 1.3em;
}

.meeting-menu{
    border-radius: 6px;
    background-color: #EEE;
    margin: 0.5em;
}

.meeting-list {
    list-style: none;
    padding-left: 10px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    overflow: hidden;
}

.meeting-list a {
    text-decoration: none;
    color: #00b1ff;
}

.meeting-list li {
    margin-top: 0.3em;
    margin-left: 0.3em;
}

.list-heading {
    text-transform: uppercase;
    color: rgb(105, 105, 105);
    font-weight: bold;
    padding: 3px 10px;
    font-size: 0.75em;
}

footer {
    border-top: 1px solid gray;
    margin-top: 1em;
}

.pure-skin-coffee .button-success,
.pure-skin-coffee .button-error,
.pure-skin-coffee .button-warning,
.pure-skin-coffee .button-secondary {
    color: white;
/*    border-radius: 4px;*/
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-skin-coffee .button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.pure-skin-coffee .button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.headlineUser span {
    display: inline;
    vertical-align: top;
    line-height: 28px;
    font-size: 25px;
    font-weight: bold;
}

.headlineUser p {
  display: inline;
  vertical-align: top;
  line-height: 28px;
  padding-left: 60px;
}

.discuss .topic {
  cursor: pointer;
}

.notes textarea {
  opacity: 0;
  transition: 0.4s ease-in-out;
  display: none;
  width: 100%;
  height: 20em;
  margin: 1em 0 1em 0;
}

.notes .show {
  opacity: 1;
  display: block;
}

.current, .current .author{
  color: rgb(0, 120, 231);
}

.voting-buttons {
  font-size: 0.7em;
}
