<div class="row-fluid">
	<div class="span3">
		<label>Meeting Name</label>
		<input type="text" placeholder="Meeting Name" required="true" ng-model="meeting.name" />
		<span class="help-block">Cannot be the same as another meeting</span>
	</div>
	<div class="span3">
		<label>Start Time</label>
		<input type="datetime-local" required="true" ng-model="meeting.startTime" />
		<span class="help-block">Must be at least 10 minutes from now</span>
	</div>
	<input type="hidden" value="false" ng-model="meeting.available" />
</div>
<div class="row-fluid">
	<a class="btn btn-large btn-success" ng-click="add(meeting)">Add</a>
</div>