<div class="hero-unit mobile-grid-100">
    <h1 class="welcome">Welcome to Lean Coffee!<i>&nbsp;</i></h1>
    <p>Lean Coffee is the fast, effective way to maxmize the potential of your meetings!</p>
</div>
<div class="grid-25">
    <h3>How does it work?</h3>
    <p>Lean Coffee has four simple steps:</p>
    <ol>
       <li>Suggest Topics</li>
       <li>Merge similar topics</li>
       <li>Vote on Topics</li>
       <li>Talk About Topics</li>
    </ol>
</div>
<div class="grid-50">
    <h3>When Should I Use It?</h3>
    <p>Lean Coffee works best for meetings that don't have a specific reoccuring agenda. The "let's catch up" meetings.</p>
    <h3>Is it safe?</h3>
    <p>Lean Coffee only holds data for the life of a meeting. There is no permanent storage of any information used as part of this application. What you discuss in a meeting is your business, not ours or anyone else's.</p>
</div>
<div class="grid-25">
    <h3>How do I get started?</h3>
    <p>Getting started is simple! Either choose an existing meeting on the left side or create your own meeting!</p>
    <div>
        <form class="pure-form" id="create-form" name="create-form" ng-submit="create()">
            <fieldset>
                <input type="text" name="meeting-name" class="search-query" ng-model="meetingName" placeholder="Meeting Name" required pattern="[^/]*">
                <button class="pure-button pure-button-primary">Create a Meeting!</button>
            </fieldset>
        </form>
    </div>
</div>
