<div class="grid-25 push-5 meeting-menu">
    <ul class="meeting-list">
					<li id="phase" class="list-heading">Phase: {{meeting.phase.name}}
					</li>
					<li>
							<button id='nextPhase' class="pure-button pure-button-primary next-buttons" ng-show="user.isHost" ng-click="changePhase()"> 
								Next <i class="fa fa-arrow-circle-right"></i>
							</button>
					</li>
        <li class="list-heading" ng-show="meeting.phase.name != 'merge'">Timer</li>
        <li ng-controller="TimerCtrl" class="timer" ng-class="{low: timer.duration.asSeconds() < 10}" ng-show="meeting.phase.name != 'merge'">
            <span>{{timer.duration.minutes() | timer}} :</span>
            <span>{{timer.duration.seconds() | timer}} </span>
						<a id='startTimer' ng-show="timer.expired && user.isHost" ng-click="start()"> 
								<i class="fa fa-play start-timer"></i>
						</a>
						<a id='stopTimer' ng-show="!timer.expired && user.isHost" ng-click="stop()"> 
								<i class="fa fa-pause stop-timer"></i>
						</a>

        </li>
        <li class="list-heading" ng-show="meeting.phase.name == 'discuss'">Voting</li>

        <li ng-show="meeting.phase.name == 'discuss'">
          <div class="continueVote stop" ng-show="currentTopic.continue.length <= currentTopic.stop.length">Stop is Winning</div>
          <div class="continueVote continue" ng-show="currentTopic.continue.length > currentTopic.stop.length">Continue is Winning</div>
        </li>
        <li class="list-heading" id="participantList">Participants</li>
      <li ng-repeat="participant in meeting.participants | orderBy:'!isHost'">
          {{participant.name}}<span id="participantIsHost" ng-show="participant.isHost">&nbsp;(H)</span>
        </li>

    </ul>
</div>
