<div class="pure-u-20-24">
	<div class="pure-u-1">
		<h2>You are: {{user}}</h2>
	</div>
	<div class="pure-u-1">
		<form class="pure-form pure-form-stacked" ng-submit="sendComment()" >
				<label for="status">Post New Topic</label>
				<input name="status" type="text" required="true" class="block span12" ng-model="userComment.status" />
				<input type="submit" tabindex="1" title="Speak Up!" value="Speak Up!" class="pure-button pure-button-primary" />

		</form>
		<form class="pure-form pure-form-stacked">
		    <label>Search Topics</label>
            <input type="text" ng-model="commentQuery">
		</form>
	</div>

	<div class="pure-u-1 comment" ng-repeat="comment in meeting.comments | filter:commentQuery | orderBy:commentOrder">
            <div class="pure-u-1-5 vote" ng-click="vote(comment)">
					<span class="uparrow" >+{{comment.voters.length}}</span>
            </div>
            <div class="pure-u-4-5">
                <h4 class="author">{{comment.status}}</h4>
                <div class="by-line">By: {{comment.author}}</div>
            </div>
	</div>
</div>
<div class="pure-u-1-8 meeting-menu">
	<ul class="meeting-list">
		<li class="list-heading">Timer</li>
        <li ng-controller="TimerCtrl" class="timer" ng-class="{low: duration.asSeconds() < 10}">
            <span>{{duration.minutes() | timer}} :</span>
            <span>{{duration.seconds() | timer}}</span>
            <button class="pure-button pure-button-primary " ng-click="start()" ng-show="timer.expired">Start</button>
            <button class="pure-button pure-button-secondary" ng-click="stop()" ng-show="!timer.expired">Stop</button>
        </li>
		<li class="list-heading">Participants</li>
		<li ng-repeat="user in meeting.participants">
			{{user}}
		</li>
		<li>
			<a ng-click="snapshot(meeting)">Take a Snapshot</a>
		</li>
	</ul>
</div>

