<div class="grid-70">
    <div class="headlineUser">
     <current-user></current-user>
    </div>

    <div class="pure-form pure-form-stacked">
        <label for="status">Search Topics</label>
        <input name="status" type="text" required="true" class="block" ng-model="userTopic.status" />
    </div>

    <p id="roomVotesRemaining" ng-show="user.isHost">
      <ng-pluralize count="calculateVotesRemainingForRoom()"
        when="{'0': 'There are no votes remaining in the room.',
              '1': 'There is 1 vote remaining in the room.',
              'other': 'There are {} votes remaining in the room.'}"
      </ng-pluralize>
    </p>

    <p ng-class="{noVotesRemain: user.votesRemaining == 0}" id="votesRemaining">
      <ng-pluralize count="user.votesRemaining"
        when="{'0': 'You have no votes remaining.',
             '1': 'You have 1 vote remaining.',
             'other': 'You have {} votes remaining.'}">
      </ng-pluralize>
    </p>

    <div class="topic" ng-repeat="topic in meeting.topics | filter:userTopic.status">
        <div class="grid-20 vote">
            +{{topic.voters.length}}
            <a ng-click="vote(topic)" class="voteUp" ng-class="{hidden: user.votesRemaining == 0}">
              <img src="../images/thumbs_up.png"></img>
            </a>
            <a ng-click="downvote(topic)" class="voteDown" ng-class="{hidden: !userVotedForThisTopic(topic, user.name)}">
              <img src="../images/thumbs_down.png"></img>
            </a>
        </div>
        <div class="grid-80">
            <h4 class="author">{{topic.body}}</h4>
            <div class="by-line">By: {{topic.author}}</div>
        </div>
        <br />
    </div>
  </div>

</div>
<meeting-menu></meeting-menu>
