<div class="grid-70">
    <div class="headlineUser">
     <current-user></current-user>
     <toggle-host></toggle-host>
    </div>


    <div class="pure-form pure-form-stacked">
        <label for="status">Search Topics</label>
        <input name="status" type="text" required="true" class="block" ng-model="userTopic.status" />
    </div>
    <div class="topic" ng-repeat="topic in meeting.topics | filter:userTopic.status">
        <div class="grid-10 vote" ng-click="vote(topic)">
            <span class="uparrow">+{{topic.voters.length}}</span>
        </div>
        <div class="grid-90">
            <h4 class="author">{{topic.body}}</h4>
            <div class="by-line">By: {{topic.author}}</div>
        </div>
    </div>
    </form>
  </div>

</div>
<meeting-menu></meeting-menu>
