<!doctype html>
<html lang="en" ng-app="lean-coffee">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  <title>Lean Coffee</title>
  <link rel="stylesheet" href="lib/unsemantic-grid.css" />
  <link rel="stylesheet" href="lib/pure/pure.css" />
  <link rel="stylesheet" href="lib/pure/coffee-skin.css" />
  <link rel="stylesheet" href="static/app.css"/>
  <style type="text/css">
    body {padding-top:10px;}
  </style>
</head>
<body class="grid-container">
  <!-- Body Section -->
  <div class="grid-15">
      <div class="meeting-directory">
          <ul class="meeting-list" ng-controller="MeetingListCtrl">
            <li class="list-heading">Active Meetings</li>
            <li ng-repeat="meeting in meetings | orderBy:meeting.participants.length"  ng-show="meeting.participants.length>0">
              <a href="#/meeting/{{meeting.name}}" ng-click="leave()">{{meeting.name | limitTo:limit}}: {{meeting.participants.length}}</a>
            </li>
            <li class="list-heading">Inactive Meetings</li>
            <li ng-repeat="inactiveMeeting in meetings" ng-show="inactiveMeeting.participants.length<1">
              <a href="#/meeting/{{inactiveMeeting.name}}" class="unavailable" ng-click="leave()">{{inactiveMeeting.name}}</a>
            </li>
          </ul>
      </div>
    <!-- End sidebar -->
  </div>
  <!-- start body section -->
  <div ng-view class="grid-85 mobile-grid-100"></div>

  <footer class="grid-100">
    <p>Lean Coffee is a community project. Visit us at <a href="http://github.com/Ellisande/lean-coffee">github.com/Ellisande</a></p>
  </footer>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="static/app.js"></script>
  <script src="lib/moment.min.js"></script>
  <script src="socket.io/socket.io.js"></script>
  <script src="lib/angular-local-storage.min.js"></script>
</body>
</html>
