<!doctype html>
<html lang="en" ng-app="lean-coffee">
<head>
  <meta charset="utf-8">
  <title>Lean Coffee</title>
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="bootstrap/css/bootstrap-responsive.min.css" />
  <link rel="stylesheet" href="static/app.css"/>
  <style type="text/css">
    body {padding-top:40px;}
  </style>
</head>
<body>
<body>
  <!-- Body Section -->
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2 sidebar-nav">
        <!-- start sidebar -->
        <div class="well">
          <ul class="nav nav-list" ng-controller="MeetingListCtrl">
            <li class="nav-header">Active Meetings</li>
            <!--change to ng-repeats-->
            <li ng-repeat="meeting in meetings | orderBy:meeting.participants.length"  ng-show="meeting.participants.length>0">
              <a href="#/meeting/{{meeting.name}}" ng-click="leave()">{{meeting.name}}: {{meeting.participants.length}}</a>
            </li>
            <li class="nav-header">Inactive Meetings</li>
            <!--change to ng-repeats-->
            <li ng-repeat="inactiveMeeting in meetings" ng-show="inactiveMeeting.participants.length<1">
              <a href="#/meeting/{{inactiveMeeting.name}}" class="unavailable" ng-click="leave()">{{inactiveMeeting.name}}</a>
            </li>
          </ul>
        </div>
        <!-- End sidebar -->
      </div>
      <!-- start body section -->
      <div class="span10">
        <div ng-view></div>
      </div>
      <!-- end body section -->
    </div>
  </div>

  <hr>
  <footer>
    <p>© Justin Dragos 2013</p>
  </footer>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="static/app.js"></script>
  <script src="lib/moment.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
</body>
</html>
