<!doctype html>
<html lang="en" ng-app="lean-coffee">
<head>
  <meta charset="utf-8">
  <title>Lean Coffee</title>
  <link rel="stylesheet" href="lib/pure/pure.css" />
  <link rel="stylesheet" href="lib/pure/coffee-skin.css" />
  <link rel="stylesheet" href="static/app.css"/>
  <style type="text/css">
    body {padding-top:40px;}
  </style>
</head>
<body>
<body class="pure-g-r pure-skin-coffee">
  <!-- Body Section -->
  <div class="pure-u-1-8">
      <div class="meeting-directory">
          <ul class="meeting-list" ng-controller="MeetingListCtrl">
            <li class="list-heading">Active Meetings</li>
            <li ng-repeat="meeting in meetings | orderBy:meeting.participants.length"  ng-show="meeting.participants.length>0">
              <a href="#/meeting/{{meeting.name}}" ng-click="leave()">{{meeting.name | limitTo:limit}}: {{meeting.participants.length}}</a>
            </li>
            <li class="list-heading">Inactive Meetings</li>
            <li ng-repeat="inactiveMeeting in meetings" ng-show="inactiveMeeting.participants.length<1">
              <a href="#/meeting/{{inactiveMeeting.name}}" class="unavailable" ng-click="leave()">{{inactiveMeeting.name}}</a>
            </li>
          </ul>
      </div>
    <!-- End sidebar -->
  </div>
  <!-- start body section -->
  <div ng-view class="pure-u-7-8"></div>

  <footer class="pure-u-1">
    <p>© Justin Dragos 2013</p>
  </footer>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="static/app.js"></script>
  <script src="lib/moment.min.js"></script>
  <script src="socket.io/socket.io.js"></script>
</body>
</html>
