<div class="span9">
	<div class="row-fluild">
		<h2>You are: {{user}}</h2>
	</div>
	<div>
		<label>Search Topics</label>
		<input type="text" ng-model="commentQuery">
	</div>
	<div class="row-fluid">
		<form ng-submit="sendComment()" >
			<div class="span6">
				<label for="status">Post New Topic</label>
				<input name="status" type="text" required="true" class="block span12" ng-model="userComment.status" />
				<input type="submit" tabindex="1" title="Speak Up!" value="Speak Up!" class="btn btn-success btn-large" />
			</div>
		</form>
	</div>

	<div class="row-fluid comment" ng-repeat="comment in meeting.comments | filter:commentQuery | orderBy:commentOrder">
		<div class="span12">
			<div class="row-fluid">
				<div class="span10 author">
					<h4>{{comment.status}}</h4>
				</div>
				<div class="span2" class="vote" ng-click="vote(comment)">
					<h5 class="uparrow">+{{comment.voters.length}}</h5>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12 by-line">
					<span>By: {{comment.author}}</span>
				</div>
			</div>
			<!--
			<div class="row-fluid rundown">
				<div class="span4" ng-hide="comment.yesterday.length == 0">
					<label>Yesterday:</label>
					<p>{{comment.yesterday}}</p>
				</div>
				<div class="span4" ng-hide="comment.today.length == 0">
					<label>Today:</label>
					<p>{{comment.today}}</p>
				</div>
				<div class="span4" ng-hide="comment.roadblock.length == 0">
					<label>Roadblocks:</label>
					<p>{{comment.roadblock}}</p>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12 by-line">
					<span>By: {{comment.author}}</span>
				</div>
			</div>
			-->
		</div>
	</div>
</div>
<div class="span3 well">
	<ul class="unstyled">
		<!--
		<li class="nav-header">Timers</li>
		<li>Comment Time : -:--</li>
		<li>Vote Time : -:--</li>
		<li>Meeting Start: --:--</li>
		-->
		<li class="nav-header">Participants</li>
		<li ng-repeat="user in meeting.participants">
			{{user}}
		</li>
	</ul>
</div>

